/* For mobile phones: */
html{
    background-color: rgba(0, 152, 203, 0.08);
}


#wrapper{
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    float:left;
    width: 33.333333333333%;
}

nav li a{
    display: block;
    padding: 8%;
    background-color: #0097CB;
    text-decoration: none;
    color:white;
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    border-color: black;
}


nav li a:hover{
    background-color: #08436B;
}


#sidgad_thickbox {
    overflow: -moz-scrollbars-none;
}
#sidgad_thickbox_right {
    overflow: -moz-scrollbars-none;
}
    

#sidgad_thickbox {
    width: 1000px;
    background-color: #FFF;
    z-index: 10000;
    height: 98vh;
    /* position: absolute; */
    /* display: inline-block; */
    /* position: static; */
    /* position: fixed; */
    overflow-y: scroll;
    margin: 10px 0px 10px 0px;
    display: none;
}   

#sidgad_thickbox_right {
    width: 450px;
    background-color: #FFF;
    z-index: 100000;
    height: 95vh;
    position: absolute;
    /* display: inline-block; */
    /* position: static; */
    position: fixed;
    overflow-y: scroll;
    /* margin: 10px 0px 10px 0px; */
    right: 5px;
    display: none;
    top: 5vh;
    border: 1px solid #CCC;
    box-shadow: -4px -3px 8px 0px #666;
}





/***Empiezo con la cabecera****/


.tab_options_header_competicion div{
    width: 100%;
    display: block;
    color: white;
    font-size: 2vw;
    background-color: #08436B;
}


#titulo_competicion_header{
    width: 96%;
    padding:2%;
    background-color: #08436B;
    color: white;
    display: inline-block;
    margin-top: 4%;
    margin-bottom: 3%;
}


#titulo_competicion_header span:nth-child(1){
    font-size: 3.5vw;
}


#titulo_competicion_header span:nth-child(2){
    margin-left: 2%;
    font-size: 2.2vw;
}

.logo_inside_competicion{
    width: 15%;
}


.menu_competicion_options{
    width: 85%;
    display: inline-block;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 1.5%;
}


.menu_competicion_options a{
    text-decoration: none;
    background-color: #E2E2E2;
    color: black;
    border-radius: 10px;
    padding: 1.5%;  
    margin: 0.2%;  
    font-size: 2vw;
}

.menu_competicion_options a:hover{
    font-weight: bold;
    border-bottom: 6px solid #1188BB;
    background-color: #BFEFFF;

}

.logo_inside_competicion img{
    width: 80%;
    margin-top: 8%;
    float: left;
}

.logo_equipo_menu_container{
    display: inline-block;
    width: 11%;
    cursor: pointer;
    border: 1px solid grey;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    background-color: #F0F0F0;
    margin:2%;
}


.teams_logos_competicion_listado{
    clear: both;
    border-bottom: 1px solid #CCC;
    border-top:1px solid #CCC;
}

.logo_equipo_menu_container:hover{
    border-bottom: 6px solid #1188BB;
}
.logo_equipo_menu_nombre{
    font-size: 2.2vw;
    width: 100%;
    text-align: center;
}

.logo_equipo_menu_logo img{
    width: 100%;
}

/****** CERRADA CABECERA DE LA SECCIÓN EMPIEZO CON LAS DISTINTAS TABLAS ********/


/***************   resto de tablas: goles, tarjetas, plantillas   ****************************/



.tabla_basic ,
.tabla_basic thead,
.tabla_basic tbody,
.tabla_basic th,
.tabla_basic td,
.tabla_basic tr {
    display: block;
}


.tabla_basic   tr:nth-child(odd) {
    background-color: white;
    font-size: 4vw;
    padding-left: 5px;
    margin-bottom: 5%;
    text-align: center;
    empty-cells: hide;
}
 .tabla_basic   tr:nth-child(even) {
    background-color: #F6F6F6;
    font-size: 4vw;
    padding-left: 5px;
    margin-bottom: 5%;
    text-align: center;
    padding-bottom: 2%;
    empty-cells: hide;
    width: 100%;

}

.tabla_basic  thead {    
    position: absolute;
    top: -9999px;
    left: -9999px;

}


.fila_stats_player td{
    margin-top: 5%;
    font-weight: bold;
    margin-top: 1.5%;
}

.fila_stats_player td:before {   
    position: relative;
    width: 100%;
    white-space: nowrap;
    font-size: 3.5vw;
    margin-top: 10%;
    text-align: center;
}

.fila_stats_player  td:nth-of-type(6):before{
    content: "Goles: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(7):before {
    content: "Jugados: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(8):before {
    content: "Goles pp: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(9):before {
    content: "Asistencias: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(10):before {
    content: "Asistencias pp: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(11):before{
    content: "Penalties: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(12):before {
    content: "Penalties %: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(13):before {
    content: "FD: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(14):before {
    content: "FD %: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(15):before {
    content: "Tarj. Azul: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(16):before {
    content: "Tarj. Azul pp: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(17):before {
    content: "Tarj. Roja: ";
    font-weight: normal;
}
.fila_stats_player  td:nth-of-type(18):before {
    content: "Tarj. Roja pp: ";
    font-weight: normal;
}





.stats_table{
    font-size: 3vw;
    text-align: center;
}

.fila_stats_player a{
    text-decoration: none;
    color:#0E71B4;
    display: inline-block;
}

.fila_stats_player a:hover{
    text-decoration: none;
    font-size: 4.5vw;
    font-weight: bold;
}


.fila_stats_player td:nth-child(1){
    float: left;
    margin-left: 49%;
    background-color: #4682B4;
    background-size: 100%;
    border-radius: 100%;
    color: white;
    padding:2%;
    display: block;
}


.fila_stats_player td:nth-child(2) span{
    margin-left: 920%;
    padding-top: 2%;
    font-size: 4vw;
    display: inline-block;
}

.fila_stats_player td:nth-child(3) img,
.fila_stats_player td:nth-child(4) img{
    margin-left: 1450%;
    font-size: 4vw;
    display: inline-block;
    width: 400%;
}


.fila_stats_player td:nth-child(4) img{
    width: 150%;
    margin-left: 1580%;
}



/**************Para la tabla específica de calendario y resultado ********************/


.tabla_standard_calendario{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}


.tabla_standard_calendario thead,
.tabla_standard_calendario tbody,
.tabla_standard_calendario th,
.tabla_standard_calendario td,
.tabla_standard_calendario tr {
    display: block;
    width: 100%;

}



.tabla_standard_calendario tr:nth-child(odd) {
    background-color: white;
    font-size: 3vw;
    margin-bottom: 5%;
}
.tabla_standard_calendario tr:nth-child(even) {
    background-color: #F6F6F6;
    font-size: 3vw;
    margin-bottom: 5%;
}


.tabla_standard_calendario tr, .tabla_standard_calendario td, .tabla_standard_calendario div{
    text-align: center;
}


.nombre_junto_logo, .tabla_standard_less{
    font-size: 2vw;
}

.tabla_standard_calendario tr td:nth-of-type(8){
    font-weight: bold;
    font-size: 4vw;
    background-color: #f1c40f;
    border-radius: 100px;
}


.jornada{
    width: 100%;
    background-color: #4682B4;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}


.tabla_standard_calendario thead tr th{
    width: 100%;
}

/***********Tabla clasificación ************/



.tabla_standard_clasificacion ,
.tabla_standard_clasificacion thead,
.tabla_standard_clasificacion tbody,
.tabla_standard_clasificacion th,
.tabla_standard_clasificacion  td,
.tabla_standard_clasificacion  tr {
    display: block;
}

.tabla_standard_clasificacion  tr:nth-child(odd) {
    background-color: white;
    font-size: 3vw;
    padding-left: 5px;
    margin-bottom: 5%;
}
.tabla_standard_clasificacion  tr:nth-child(even) {
    background-color: #F6F6F6;
    font-size: 3vw;
    padding-left: 5px;
    margin-bottom: 5%;

}


.tabla_standard_clasificacion  thead {    
    position: absolute;
    top: -9999px;
    left: -9999px;
}




.tabla_standard_clasificacion td {   
    border: none;
    position: relative;
    padding-left: 20%;
    font-size: 4vw;
}

.stats_table_special{
    background-color: #6BB9F0;
    color:white;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 40px;
}


.stats_table_specialPuntos{
    color: black;
    padding-left: 20%;
    margin-left: 20%;
}






.tabla_standard_clasificacion td:before {
    
    position: absolute;
    margin-left: -35%;
    width: 40%;
    white-space: nowrap;
    font-size: 3.5vw;
}


.tabla_standard_clasificacion td:nth-child(1) div{
    text-align: left;
    font-size: 5vw;
    padding-left: 48%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 5vw;
    font-weight: bold;
}


.tabla_standard_clasificacion td:nth-child(1){
    background-color: #2397DE;
    border-radius: 50px;
    margin-top: 2%;
    margin-bottom: 5%;
    color: white;
}



.tabla_standard_clasificacion td:nth-child(1),
.tabla_standard_clasificacion td:nth-child(2),
.tabla_standard_clasificacion td:nth-child(3){   
    padding-left: 0%;
    text-align: center;
    font-size: 4vw;
}




/*  Etiquetamos la información  */
/*No puedo sacar las columnas que no muestro, porque sino no muestra la información correctamente*/

.tabla_standard_clasificacion  td:nth-of-type(4):before{
    content: "Puntos";
}
.tabla_standard_clasificacion  td:nth-of-type(5):before {
    content: "Jugados";
}
.tabla_standard_clasificacion  td:nth-of-type(6):before {
    content: "Empatados";""
}
.tabla_standard_clasificacion  td:nth-of-type(7):before {
    content: "Perdidos";
}
.tabla_standard_clasificacion  td:nth-of-type(8):before {
    content: "Goles a favor";
}
.tabla_standard_clasificacion  td:nth-of-type(9):before {
    content: "Goles en contra";
}
.tabla_standard_clasificacion  td:nth-of-type(10):before {
    content: "Gol average";
}
.tabla_standard_clasificacion  td:nth-of-type(11):before {
    content: "Penalties";
}


/**************  ARBITROS  *******************/


.tabla_standard_arbitros ,
.tabla_standard_arbitros thead,
.tabla_standard_arbitros tbody,
.tabla_standard_arbitros th,
.tabla_standard_arbitros  td,
.tabla_standard_arbitros  tr {
    display: block;
}



.tabla_standard_arbitros  tr:nth-child(odd) {
    background-color: white;
    font-size: 3vw;
    padding-left: 5px;
    margin-bottom: 5%;
    text-align: center;
}
.tabla_standard_arbitros  tr:nth-child(even) {
    background-color: #F6F6F6;
    font-size: 3vw;
    padding-left: 5px;
    margin-bottom: 5%;
    text-align: center;
    padding-bottom: 2%;

}



.jornadaArbitros div{
    display: block;
    width: 100%;
    background-color: #4682B4;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 4%;
    margin-bottom: 2%;

}

.tabla_standard_arbitros tr td:nth-child(5){
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3.5vw;
}

.tabla_basic tbody tr td:nth-child(2) span{
    display: none;
}


.fila_stats_player td:nth-child(3) img,
.fila_stats_player td:nth-child(4) img{
    /*margin-left: 1450%;*/
    font-size: 4vw;
    display: none;
    width: 100%;
}

/**************  FOOTER  *******************/


footer{
    padding:10%;
    text-align: center;
    font-weight: bold;
    margin-bottom: -5%;
    margin-top: 10%;
}


/* Tablets and some phones landscape*/

@media only screen and (min-width : 768px) and (min-device-width : 768px){

    /*Para depurar media queries*//*
    html{
        background-color: blue;
    }*/

    .tabla_standard_calendario tr:nth-child(odd) {
        background-color: white;
        font-size: 3vw;
        margin-bottom: 5%;
        display: flex;
    }
    .tabla_standard_calendario tr:nth-child(even) {
        background-color: #F6F6F6;
        font-size: 3vw;
        margin-bottom: 5%;
        display: flex;
    }

    .tabla_standard_calendario tbody td:nth-child(3),
    .tabla_standard_calendario tbody td:nth-child(5){
        width: 30%;
    }

    .tabla_standard_calendario tbody td:nth-child(3) img,
    .tabla_standard_calendario tbody td:nth-child(5) img{
        width: 100%;
    }   


    .nombre_junto_logo, .tabla_standard_less{
        font-size: 1.3vw;
    }

    .tabla_standard_calendario tr td:nth-of-type(8){
        font-weight: bold;
        font-size: 1.5vw;
        background-color:;
        border-radius: 0%;
    }

    .tabla_standard_calendario tr td:nth-of-type(7){
        display: none;
    }

    .tabla_standard_calendario tr td:nth-of-type(1) div,
    .tabla_standard_calendario tr td:nth-of-type(2) div,
    .tabla_standard_calendario tr td:nth-of-type(4) div,
    .tabla_standard_calendario tr td:nth-of-type(6) div,
    .tabla_standard_calendario tr td:nth-of-type(8) div{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .esquinaTabla{
        display: none;
    }

    .tabla_standard_clasificacion ,
    .tabla_standard_clasificacion thead,
    .tabla_standard_clasificacion tbody,
    .tabla_standard_clasificacion th,
    .tabla_standard_clasificacion  td,
    .tabla_standard_clasificacion  tr {
        display: inline-block;
    }    




    .tabla_standard_clasificacion td:before {
        display: none;
    }


    .tabla_standard_clasificacion td:nth-child(1) div{
        text-align: left;
        padding-left: 1.5%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        font-size: 1.5vw;
        font-weight: bold;
    }


    .tabla_standard_clasificacion td:nth-child(1){
        background-color: inherit;
        border-radius: 0px;
        margin-top: 0%;
        margin-bottom: 0%;
        color: black;
    }



    .tabla_standard_clasificacion td:nth-child(1),
    .tabla_standard_clasificacion td:nth-child(2),
    .tabla_standard_clasificacion td:nth-child(3){   
        padding-left: 0%;
        text-align: center;
        font-size: 1.2vw;
    } 

    .tabla_standard_clasificacion td {   
        border: none;
        position: relative;
        padding-left: 0.5%;
        font-size: 1.2vw;
        width: 6%;
    }


    .tabla_standard_clasificacion td:nth-child(3){
        width: 20%;
    }   

    .tabla_standard_clasificacion  tr:nth-child(odd) {
        background-color: white;
        font-size: 3vw;
        padding-left: 5px;
        margin-bottom: 0%;
        width: 100%;
    }
    .tabla_standard_clasificacion  tr:nth-child(even) {
        background-color: #F6F6F6;
        font-size: 3vw;
        padding-left: 5px;
        margin-bottom: 0%;
        width: 100%;

    }    

    .tabla_standard_clasificacion  thead {    
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .tabla_standard_clasificacion  thead th{
        font-size: 1.2vw;
        width: 6%;
    }


    .tabla_standard_clasificacion  thead th:nth-child(7){
        margin-left: 1%;
    }    

    .tabla_standard_clasificacion  thead th:nth-child(9){
        margin-left: 1%;
    } 

    .tabla_standard_clasificacion  thead th:nth-child(10){
        margin-left: 1%;
    } 

    .tabla_standard_clasificacion  thead th:nth-child(14) div{
        margin-left: -0.9%;
    } 

    .tabla_standard_arbitros ,
    .tabla_standard_arbitros thead,
    .tabla_standard_arbitros tbody,
    .tabla_standard_arbitros th,
    .tabla_standard_arbitros  td,
    .tabla_standard_arbitros  tr {
        display: inline-block;
    }

    .tabla_standard_arbitros tr td:nth-child(5){
        font-size: 1.4vw;
    }

    .jornadaArbitros div{
        display: block;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 0%;
       margin-bottom: 0%;

    }


    .tabla_standard_arbitros  tr:nth-child(odd) {
        background-color: white;
        font-size: 1.8vw;
        padding-left: 5px;
        margin-bottom: 0%;
        text-align: center;
    }
    .tabla_standard_arbitros  tr:nth-child(even) {
        background-color: #F6F6F6;
        font-size: 1.8vw;
        padding-left: 5px;
        margin-bottom: 0%;
        text-align: center;
        padding-bottom: 0%;

    }
    .tabla_standard_arbitros thead th{
        width: 100%;
        margin-top: 1.5%;
    }

    .tabla_standard_arbitros tbody tr th{
        width: 20%;
    }

    .tabla_standard_arbitros tr td{
        display: block;
    }

    .tabla_standard_arbitros  tr:nth-child(odd) {
        margin:1.2%;
    }
    .tabla_standard_arbitros  tr:nth-child(even) {
        margin:1.2%;
    }

    .tabla_standard_arbitros tr td:nth-child(5){
        font-size: 1.2vw;
    }

    .tabla_basic tr:nth-child(odd) {
        display: ;
    }
    .tabla_basic tr:nth-child(even) {
        display: ;
    }    

    .fila_stats_player td{
        display: inline-block;
    }
    .tabla_basic tbody tr td:nth-child(2) span{
        display: inline-block;
        margin-left: -100%;
    }

}






